<% content_for(:title, "Edit #{@player.first_name}'s profile")%>

<h1>Here is a template to edit the player information</h1>

<p>Edit: <%= @player.first_name%> information</p>

<%= render partial: "players/form"%>

<!--<a href="/players">Go Back</a>-->
<%= link_to 'Home Page', root_path %>
