<% content_for(:title, "#{@player.first_name}'s profile")%>

<h1>This is showing an information for a particular user(player: <%= @player.first_name%>)</h1>

<table>
  <thead>
    <tr>
      <td>First name</td>
      <td>Last</td>
    </tr>
  <thead> 
  <tbody>
    <tr>
      <td><%= @player.first_name %></td>
      <td><%= @player.last_name %></td>
    </tr>  
  </tbody>
</table>

<!--<a href="/players">Home page</a>-->
<%= link_to 'Home Page', root_path%>